<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISkyDataService" messageEncoding="Mtom" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.202.1.37:4008/SkyDataService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISkyDataService"
                contract="WcfService.ISkyDataService" name="BasicHttpBinding_ISkyDataService" />
        </client>
    </system.serviceModel>
</configuration>